<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbleJob - Admin Dashboard</title>
    <link rel="stylesheet" href="../static/css/user_dashboard.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>

<body>
    <div class="main">
        <ul>
            <li style="float: left;">
                <a href="#">
                    <b>Able Jobs</b>
                </a>
            </li>
            {% if 'username' in session %}
            <li><a href="#"><strong>Hi, {{ session['username'] }}</strong></a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            <!-- <li><a class="active" href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('requirement') }}">Add New Job</a></li> -->
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
        <h2>All Jobs Posted by Companies</h2>
        {% for job in all_list %}
        <div class="card" style="float: left; margin-left: 10px; width: 300px; text-overflow: hidden;">
            <div class="card-items">
                <h4>Company Name :</h4>
                <p>{{ job['company'] }}</p>
                <hr>
            </div>
            <div class="card-items">
                <h4>Job Role :</h4>
                <p>{{ job['jobRole'] }}</p>
                <hr>
            </div>
            <div class="card-items">
                <h4>Job Description :</h4>
                <p>{{ job['jobDescription'] }}</p>
                <hr>
            </div>
            <div class="card-items">
                <h4>Place of Work :</h4>
                <p>{{ job['placeOfWork'] }}</p>
                <hr>
            </div>
            <div class="card-items">
                <h4>Phone no for Coordination :</h4>
                <p>{{ job['phone'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>